<!-- Purpose: provide a home page. We'll do so by extending base.html using Jinja-->

{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <h1 align="center">Recommendation time! Enter a keyword:</h1>

  {% for movie in user.recommended  %}
      {{ movie.found_title if movie.found_title else '' }}
  {% endfor %}

  <ul class="list-group list-group-flush" id="recommended_movies">
    {% for movie in user.recommended[:10]  %}
    <li class="list-group-item">
      {{ movie.data }}
      <ol style="list-style-type: lower-alpha;"><a href= "{{ movie.link1 }}" target=“_blank”> a) IMDB Page </a></ol>
      <ol style="padding-top: 0px; padding-bottom: 0px;"><a href= "{{ movie.link2 }}" target=“_blank”> b) Google Search </a></ol>
      <ol><img src= "{{ movie.img_link }}" style="width:150px;"></ol>
    </li>
    {% endfor %}
  </ul>

  <form method="POST">
    <textarea name="movie" id="movie" class="form-control"></textarea>
    <br />
    <div align="center">
      <button type="submit" class="btn btn-primary">Give me 10 movie recommendations!</button>
    </div>
  </form>

  {% endblock %}
